<h1>QR Code Reader on Rails with Zxing-js</h1>

<div class="list-group">
  <%= link_to 'Basic QR Code Reader', basic_qr_code_reader_path, class: 'list-group-item list-group-item-action' %>
  <%= link_to 'QR Code Reader connected to a Rails controller and model', qr_codes_path, class: 'list-group-item list-group-item-action'  %>
</div>
